[title] {
    cursor: default;
}
[title]:hover {
    background-color: rgb(0 188 212 / 10%);
}

.linkHoverStyle-1 a:hover {
    background-color: rgb(255 235 59 / 50%);
}

/* Footer CSS Start */
footer .dp-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/* footer .dp-image img {
    max-width: 309px; left: -56px; top: -24px; position: relative;
} */


/* Print Media Start  */
@media print {
    
}
/* Print Media End  */

/* print html2pdf Start */
/* .print class will be added at the start of Html2Pdf conversion and removes at end of conversion, from <body> element */
.print #element-to-print {
    margin-left: auto;
    margin-right: auto;
}
.print #element-to-print pre code.hljs.fs-5 {
    font-size: 1.15rem !important
}
.print #element-to-print .table-bordered th,
.print #element-to-print .table-bordered td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.print #element-to-print pre code.hljs {
    /* white-space: initial; */
}
.print #element-to-print .container {
    width: auto;
    margin: 0;
}
/* print html2pdf End */

